<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boogle search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome to Boogle</h1>
    <form class="" action="/search" method="post">
      <input type="text" name="user" value="" placeholder="userName" autocomplete="off">
      <br>
      <input type="text" name="search" value="" placeholder="Search" autocomplete="off">
      <br>
      <button type="submit" name="button">Search</button>
    </form>
  </body>
</html>
